/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */
/*animatie 1 kleur vernaderen*/

a:nth-of-type(1) {
  position: relative;
  
}

.colorpop{
  background-color: rgb(255, 70, 184);
  border-color: #ffacfb;
  color: #ffacfb;
}

/*animatie 2 gradient*/

.bordergradient{
 opacity: 0;
}

/*animatie 3 shake*/
.shake{

 animation-name: shake;
 animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
 animation-duration: 1.2s;
 animation-iteration-count: 1;
}

@keyframes shake{
10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.btn-4 {
  opacity: 0;
  transition: 3s;
  color: #ffacfb;
}

.btn-5{
  color: rgb(255, 255, 255);
    animation-name: rainbow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}

@keyframes rainbow {
  0% {
    background-color: red;
  }

     10% {
       background-color: orange;
     }

  25% {
    background-color: yellow;
  }


  30%{
    background-color: greenyellow;
  }

  50% {
    background-color: green;
  }

  70% {
    background-color: blue;
  }

  80%{
    background-color: blueviolet;
  }
}

.btn-6{
   animation-name: hulk;
   animation-duration: 3s;

}

@keyframes hulk {
0% {
    background-color: rgb(65, 255, 65);
    margin-left: 0em;
  }

  20% {
    background-color: rgb(20, 253, 20);
    margin-left: 1em;
  }


  40% {
    background-color: rgb(15, 228, 15);
    margin-right: 1em;
  }

  80% {
    background-color: rgb(12, 121, 12);
  }


  100% {
    background-color: rgb(12, 92, 12);
  }

}

.btn-7{
  animation-name: halo;
  animation-duration: 2s;

}


@keyframes halo {
  0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-100px);
      color: rgb(255, 255, 255);
      border-color: white;
      box-shadow: #fff 1em 1em 90em 10em;
    }
  
    100% {
      transform: translateY(0);
    }
}

.btn-8{
  animation-name: down;
    animation-duration: 3s;
}


@keyframes down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(100px);
    color: rgb(0, 0, 0);
    border-color: rgb(71, 71, 71);
    background-color: black;
    box-shadow: rgb(0, 0, 0) 1em 1em 90em 10em;
  }

  100% {
    transform: translateY(0);
  }
}

.btn-9{
animation-name: eyes;
  animation-duration: 3s;
}

@keyframes eyes {
  20%{}
}



.btn-10{
  animation-name: down;
    animation-duration: 3s;
  }
